<div class="panel-group">
    <?php foreach($posts as $post) {?>

    <div class="panel panel-primary">
        <div class="panel-heading"><?=$post['username']?></div>
        <div class="panel-body"><?=$post['content']?></div>
    </div>
    <?php } ?>
</div>


<div class="threadeditor">
    <form role="form" action="<?=$post_url ?>" method="post">
        <div class="form-group">

            <textarea class="ckeditor" cols="80" id="editor1" name="content" rows="10"></textarea>
            <p>
                <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </form>
</div>
