<?php echo $pagination_top;?>
<div class="posttitle">
    <b>Thread: </b><?=$thread_title?>
</div>
<div class="panel-group">
    <?php foreach($posts as $post) {?>

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="avatar">
                <img src="<?=$post['avatar']?>" />
            </div>
            <div class="postinfo">
                <?=$post['post_time']?>
                <span class="pull-right">#<?=$post['row_num']+1?></span>
            </div>
            <div class="postuserinfo">
                <?=$post['username']?>
            </div>
        </div>
        <div class="panel-body"><?=$post['content']?></div>
    </div>
    <?php } ?>
</div>

<?php echo $pagination_bottom;?>

<div class="threadeditor">
    <form role="form" action="<?=$post_url ?>" method="post" data-toggle='formvalidator'>
        <div class="foruminputform">

            <textarea class="ckeditor" cols="80" id="editor1" name="content" rows="10"></textarea>
            <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </form>
</div>


