
<div class="panel-group" id="accordion">
    <?php foreach($sections as $section) { ?>
    <div class="subsectionpanel">
        <div class="subsectionpanel-header">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1"><?=$section['name']?></a>
            </h4>
        </div>
        <div id="collapse1" class="collapse in">
            <div>
                <ul>
                    <?php foreach($subsections[$section['section_id']] as $subsection) {?>

                    <li class="subsectionlistitem">
                        <div>
                            <img src="./forum/view/img/forum_sect.png" align="top">
                        </div>
                        <div class="subsectiontitle">
                            <div>
                                <a href="<?=$subsection['url']?>"> <?=$subsection['name']?></a>
                            </div>
                            <div>
                                <?=$subsection['description']?>
                            </div>
                        </div>
                        <div class="subsectioninfo">
                            <div>
                                Posts : <?= $subsection['postcount']?> &emsp;&frasl;&emsp;
                                Threads : <?= $subsection['threadcount']?>
                            </div>

                        </div>
                    </li>

                    <?php }?>

                </ul>
                <!--<table>
                    <tr>
                        <?php foreach($subsections[$section['section_id']] as $subsection) {?>

                        <td class="subsectionpanel">
                            <a href="<?=$subsection['url']?>"> <?=$subsection['name']?></a>
                            <br>

                        </td>

                        <?php }?>
                    </tr>
                </table>-->
            </div>
        </div>
    </div>
    <?php } ?>
</div>
