<?php echo $pagination_top;?>

<div class="panel panel-default">
    <div class="threadheader">
        <div class="threadtitle">
            Title
        </div>
        <div class="threadinfo">
            Info
        </div>
    </div>
    <ul class="threadlist">
        <?php foreach($threads as $thread) { ?>
        <li class="threadlistitem attachments">

            <div class="threadtitle">
                <a href="<?=$thread['url']?>"><?=$thread['title']?></a>
            </div>
            <ul class="threadinfo">
                <li>Last Reply: <?=$thread['lastreply']?></li>
                <li>Started By <?=$thread['username']?></li>
            </ul>
            <?php if($auth_level == 1) {?>
            <div class="threadright">
                <a href="<?=$thread['delete_url']?>">
                    Delete
                </a>
            </div>
            <?php } ?>
        </li>
        <?php } ?>
        <?php if(count($threads) == 0) {?>
        <li class="threadlistitem attachments">

            No Thread yet !

        </li>
        <?php } ?>
    </ul>

</div>
<?php echo $pagination_bottom;?>

<?=$piece('forum/bottompiece.html')?>
