<?php echo $pagination_top;?>

<div class="panel panel-default">
    <div class="threadheader">
        <div class="threadtitle  attachments">
            Title
        </div>
        <div class="attachments">
            Info
        </div>
    </div>
    <ul class="threadlist">
        <?php foreach($threads as $thread) { ?>
        <li class="threadlistitem <!--threaditemshadow-->">

            <div class="threadtitle  attachments">
                <div>
                    <b>
                        <a href="<?=$thread['url']?>"><?=$thread['title']?></a>
                    </b>
                </div>
                <div class="smallfont">
                    Started By <?=$thread['username']?>
                </div>
            </div>

            <div class="threadinfo  attachments">
                <div class="smallfont">Last Reply: <?=$thread['lastreply']?></div>
                <div class="smallfont">Replies: <?=$thread['postcount'] - 1?></div>


            </div>
            <?php if($auth_level == 1) {?>
            <div class="threadright attachments">
                <div>
                    <a href="<?=$thread['delete_url']?>">
                        Delete
                    </a>
                </div>
                <div>&nbsp</div>
            </div>
            <?php } else { ?>
            <div class="threadright attachments">
                <!--<div>&nbsp</div>
                <div>&nbsp</div>-->
            </div>
            <?php }?>
        </li>
        <?php } ?>
        <?php if(count($threads) == 0) {?>
        <li class="threadlistitem attachments">

            No Thread yet !

        </li>
        <?php } ?>
    </ul>

</div>
<?php echo $pagination_bottom;?>

<?php if($theuser->GetAuthLevel() >= 1) {?>
<div class="threadeditor">
    <form role="form" action="<?=$thepath ?>" method="post" data-toggle="formvalidator">
        <div class="form-group foruminputform">

            <input name="title" type="text" data-minlength="6" class="form-control" placeholder="Title?" />
            <span class="help-block">Minimum of 6 characters</span>

            <textarea class="ckeditor" data-minlength="6" cols="80" id="editor1" name="content" rows="10"></textarea>

            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </form>
</div>
<?php } ?>

<?=$thepiece('forum/bottompiece.html')?>
