#headerlogo {
    width: 200px;
    height: 120px;
    position: absolute;
    top: 0px;
    left: 0px;
}

body {
    padding-top: 80px; /* Whatever the height of your navbar is; the
                             default is 50px */
}


/*#topbar .navbar-right li {
    position:relative;
    right:200px;

}*/

/** {
    padding: 0;
    margin: 0;
}*/



/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
