<?php echo $header?>

<form data-toggle="formvalidator" class="bs-example bs-example-form" action="<?=$action_post ?>" method="post">
    <div style="padding: 0% 40% 0 40%;" class="main-panel">

        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-envelope"></i>
            <div class="form-group">
                <input name="<?=$inputid?>" value="<?=$email?>" data-type="email" type="text" class="form-control" placeholder="Email" />
                <span class="help-block with-errors">
                    Please fill with correct email address.
                </span>
            </div>
        </div>
        <br>
        <input type="submit" value="Send Email!" class="btn btn-success" />
    </div>
    
</form>

<?php echo $footer ?>
