<?php echo $header?>

<?php
	$suchapterlink = $thecontroller->url->link('common/suchapter', ['view'=>'SU_chapter.html']);
?>
<div class="container main-panel">

	<div class="container-chapter-style">
		<p>chapters</p>
	</div>

	
	<div class="grid-chapter-style">
	        <img src="forum/view/img/portfolio/SU_logo.png" alt="img01" />
	        <figcaption>
				<a href="<?= $suchapterlink?>"> Syracuse University Chapter </a>
	        </figcaption>
	</div>

	<div class="grid-chapter-style">
	        <img src="forum/view/img/portfolio/UM_logo.png" alt="img01" />
	        <figcaption>
				<a href="<?= $suchapterlink?>"> University of Michigan, Ann Arbor Chapter </a>
	        </figcaption>
	</div>

	<div class="grid-chapter-style">
	        <img src="forum/view/img/portfolio/SU_logo.png" alt="img01" />
	        <figcaption>
				<a href="<?= $suchapterlink?>"> Syracuse University Chapter </a>
	        </figcaption>
	</div>

	<div class="grid-chapter-style">
	        <img src="forum/view/img/portfolio/SU_logo.png" alt="img01" />
	        <figcaption>
				<a href="<?= $suchapterlink?>"> Syracuse University Chapter </a>
	        </figcaption>
	</div>

	<div class="grid-chapter-style">
	        <img src="forum/view/img/portfolio/SU_logo.png" alt="img01" />
	        <figcaption>
				<a href="<?= $suchapterlink?>"> Syracuse University Chapter </a>
	        </figcaption>
	</div>

	<div class="grid-chapter-style">
	        <img src="forum/view/img/portfolio/SU_logo.png" alt="img01" />
	        <figcaption>
				<a href="<?= $suchapterlink?>"> Syracuse University Chapter </a>
	        </figcaption>
	</div>



</div>


<?php echo $footer ?>