<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/transitional.dtd">
<html>
<head>

</head>
<body style="margin:0">
    <div id="headerlogo">
        <img src="forum\view\img\logo.jpg" />
    </div>
    <nav class="navbar navbar-default" id="topbar" role="navigation">

        <div class="navbar-inner container">

            <ul class="nav navbar-nav  navbar-left">
                <?= $headeritem ?>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <?php if(!$islogged) {?>
                <li>
                    <a href='<?php echo $link_login ?>'>
                        <span class="glyphicon glyphicon-log-in"></span>
                        login
                    </a>
                </li>
                <li>
                    <a href='<?php echo $link_register ?>'>
                        <span class="glyphicon glyphicon-user"></span>
                        register
                    </a>
                </li>
                <?php } else {?>
                <li class="dropdown">
                    <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <?= $username ?> (<?= $email ?>)
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu right">
                        <li><a href="#">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="<?=$link_logout?>">Logout</a></li>

                    </ul>
                </li>
                <?php }?>
            </ul>

        </div>
    </nav>

