<?php echo $header?>
<!--<form data-toggle="formvalidator" role="form">
    <div class="form-group">
        <label for="inputName" class="control-label">Name</label>
        <input data-minlength="6" type="text" class="form-control" id="inputName" placeholder="Cina Saffary">
        <span class="help-block with-errors">
            Please fill out this field.
        </span>
    </div>
    <div class="form-group">
        <label for="inputName" class="control-label">Name</label>
        <input data-regex="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" 
               type="text" class="form-control" id="inputName" placeholder="Cina Saffary">

    </div>
    <div class="form-group">
        <label for="inputName" class="control-label">Name</label>
        <input data-type="email"
               type="text" class="form-control" id="inputName" placeholder="Cina Saffary">

    </div>
    <div class="form-group">
        <label for="inputName" class="control-label">Name</label>
        <textarea class="ckeditor" cols="80" id="editor1" name="content" rows="10"></textarea>
        <span class="help-block with-errors">
            Please fill out this field.
        </span>
    </div>
    <input type="submit" value="Submit" class="btn btn-success" />
</form>-->

<!-- works -->
<div id="works" class=" clearfix grid">
    <figure class="effect-oscar  wowload fadeIn">
        <img src="forum/view/img/portfolio/1.jpg" alt="img01" />
        <figcaption>
            <h2>Forum</h2>
            <p>
                We are a student forum under the Chinese Development forum in Beijing, China<br>
                <a href="<?= $forum_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="forum/view/img/portfolio/2.jpg" alt="img01" />
        <figcaption>
            <h2>Events</h2>
            <p>
                We have unique culture events to create the diversity<br>
                <a href="<?= $event_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="forum/view/img/portfolio/3.jpg" alt="img01" />
        <figcaption>
            <h2>Research</h2>
            <p>
                Meet the executive board of the association<br>
                <a href="<?= $research_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="forum/view/img/portfolio/4.jpg" alt="img01" />
        <figcaption>
            <h2>Chapters</h2>
            <p>
                Syracuse University Chapter<br>
                <a href="<?= $chapters_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="forum/view/img/portfolio/5.jpg" alt="img01" />
        <figcaption>
            <h2>Membership</h2>
            <p>
                Our association offer online activities and offline activities<br>
                <a href="<?= $membership_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>

    <figure class="effect-oscar  wowload fadeInUp">
        <img src="forum/view/img/portfolio/6.jpg" alt="img01" />
        <figcaption>
            <h2>Committee</h2>
            <p>
                We are always seeking for talents to join in our team<br>
                <a href="<?= $committee_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>





</div>

<div id="about" class="container spacer about">
    <h2 class="text-center wowload fadeInUp">Chinese Development Forum Student Think Tank</h2>
    <div class="row">
        <div class="col-sm-12 wowload fadeInLeft">
            <h4><i class="fa fa-paint-brush"></i>The Mission</h4>
            <p>Our MISSION of this China Development Student Think Tank (Syracuse University Chapter) 
            is to provide constructive academic reports, intellectual ideas, 
            academic programs regarding to Chinese economic development, 
            political reform, cultural diversity, 
            and diplomatic strategy to students who interest in China and Sino-U.S. 
            relations. All missions will be provided 
            by the executive board of China Development 
            Student Think Tank (Syracuse University Chapter) and its higher authority, 
            China Development Student Think Tank (North America Committee) of 
            China Development Forum, 
            one of the most influential non-government think tank in Beijing, China. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 wowload fadeInLeft">
            <h4><i class="fa fa-paint-brush"></i>The Goal</h4>
            <p>
             With our professional and intelligent projects, 
                our members are expected to enjoy a comprehensive 
                understanding toward China's political and economic reforms that profoundly 
                influence not only this country but also the entire world we all live in. 
                They are also expected to construct 
                excellent works about their China-related topics, 
                which may not only be the best in their classes 
                but also get published within the think tank or 
                in renowned academic periodicals. 
                More importantly, the academic communications 
                the think tank provides are also expected to construct 
                a better mutual insight between Chinese college students 
                American college students.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 wowload fadeInLeft">
            <h4><i class="fa fa-paint-brush"></i>The Fun</h4>
            <p>
                China Development Student Think Tank 
            is a big joyful family in which all family 
            members study together and have fun together. 
            As an online community, 
            our website enable members in different 
            universities to discuss their interested 
            topics and make friends with each other, 
            while it is also a place where students can 
            participate our exclusive forums together and get inspired 
            by the leading experts in many academic fields. Meanwhile, 
            our offline social and cultural events provide stunning 
            opportunities to create international horizon and strong social connection. 
            Excellent members of the think tank, 
            furthermore, may be offered internship or research
             opportunity in governmental/nongovernmental sectors in China.</p>
        </div>
    </div>
</div>



<?php echo $footer ?>
