<?php echo $header?>
<!--<form data-toggle="formvalidator" role="form">
    <div class="form-group">
        <label for="inputName" class="control-label">Name</label>
        <input data-minlength="6" type="text" class="form-control" id="inputName" placeholder="Cina Saffary">
        <span class="help-block with-errors">
            Please fill out this field.
        </span>
    </div>
    <div class="form-group">
        <label for="inputName" class="control-label">Name</label>
        <input data-regex="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" 
               type="text" class="form-control" id="inputName" placeholder="Cina Saffary">

    </div>
    <div class="form-group">
        <label for="inputName" class="control-label">Name</label>
        <input data-type="email"
               type="text" class="form-control" id="inputName" placeholder="Cina Saffary">

    </div>
    <div class="form-group">
        <label for="inputName" class="control-label">Name</label>
        <textarea class="ckeditor" cols="80" id="editor1" name="content" rows="10"></textarea>
        <span class="help-block with-errors">
            Please fill out this field.
        </span>
    </div>
    <input type="submit" value="Submit" class="btn btn-success" />
</form>-->

<!-- works -->
<div id="works" class=" clearfix grid">
    <figure class="effect-oscar  wowload fadeIn">
        <img src="forum/view/img/portfolio/1.jpg" alt="img01" />
        <figcaption>
            <h2>Forum</h2>
            <p>
               READY TO GET INSPIRED? EXPLORE OUR UNIQUE AND VALUABLE FORUMS HERE<br>
                <a href="<?= $forum_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="forum/view/img/portfolio/2.jpg" alt="img01" />
        <figcaption>
            <h2>Events</h2>
            <p>
                WE OFFER VERSATILE EVENTS TO CREATE DIVERSITY AND BUILD SOCIAL CONNECTIONS<br>
                <a href="<?= $event_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="forum/view/img/portfolio/3.jpg" alt="img01" />
        <figcaption>
            <h2>Research</h2>
            <p>
                JOIN OUR ACADEMIC RESEARCH TEAM; BECOME THE PROFESSIONAL IN YOUR MAJOR<br>
                <a href="<?= $research_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="forum/view/img/portfolio/4.jpg" alt="img01" />
        <figcaption>
            <h2>Chapters</h2>
            <p>
                FIND OUR CHAPTER IN YOUR UNIVERSITY<br>
                <a href="<?= $chapters_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="forum/view/img/portfolio/5.jpg" alt="img01" />
        <figcaption>
            <h2>Membership</h2>
            <p>
                SIGN UP YOUR MEMBERSHIP OF THE THINK TANK AND START YOUR ADVENTURE HERE<br>
                <a href="<?= $membership_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>

    <figure class="effect-oscar  wowload fadeInUp">
        <img src="forum/view/img/portfolio/6.jpg" alt="img01" />
        <figcaption>
            <h2>Committee</h2>
            <p>
                MEET THE NORTH AMERICAN COMMITTEE OF THE THINK TANK AND GET THE LATEST NEWS FROM THE COMMITTEE<br>
                <a href="<?= $committee_link ?>" title="1" data-gallery>View more</a>
            </p>
        </figcaption>
    </figure>





</div>

<div id="about" class="container spacer about">
    
	<!-- <h2 class="text-center wowload fadeInUp">Chinese Development Forum Student Think Tank</h2> -->
    <img class= "logo_home_page" src="forum/view/img/logo.png" align="middle"/>
	
    <div class="row">
        <div class="col-sm-12 wowload fadeInLeft">
            <h4><i class="fa fa-paint-brush"></i>The Mission</h4>
            <p>The mission of China Development Student Think Tank is to provide constructive forums, intellectual communications, and research programs regarding to China’s political, economic reforms, cultural diversity, and diplomatic strategy to students in American universities who interest in Sino affairs and Sino-US relations. Also, the think tank strives to construct a place where people from different sides of the Pacific

Ocean can discuss the hottest topics in the coolest environment. All of the executive board members of the think tank would whole-heartedly provide the best service to every member. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 wowload fadeInLeft">
            <h4><i class="fa fa-paint-brush"></i>The Goal</h4>
            <p>
             With our professional and intelligent projects, 
                our members are expected to enjoy a comprehensive 
                understanding toward China's political and economic reforms that profoundly 
                influence not only this country but also the entire world we all live in. 
                They are also expected to construct 
                excellent works about their China-related topics, 
                which may not only be the best in their classes 
                but also get published within the think tank or 
                in renowned academic periodicals. 
                More importantly, the academic communications 
                the think tank provides are also expected to construct 
                a better mutual insight between Chinese college students 
                American college students.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 wowload fadeInLeft">
            <h4><i class="fa fa-paint-brush"></i>The Fun</h4>
            <p>
                China Development Student Think Tank 
            is a big joyful family in which all family 
            members study together and have fun together. 
            As an online community, 
            our website enable members in different 
            universities to discuss their interested 
            topics and make friends with each other, 
            while it is also a place where students can 
            participate our exclusive forums together and get inspired 
            by the leading experts in many academic fields. Meanwhile, 
            our offline social and cultural events provide stunning 
            opportunities to create international horizon and strong social connection. 
            Excellent members of the think tank, 
            furthermore, may be offered internship or research
             opportunity in governmental/nongovernmental sectors in China.</p>
        </div>
    </div>
</div>



<?php echo $footer ?>
