<?php echo $header?>
<div style="padding: 0% 40% 0 40%;" class="main-panel">
    <form data-toggle="formvalidator" class="bs-example bs-example-form" action="<?=$action_post ?>" method="post">

        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-envelope"></i>
            <div class="form-group">
                <input data-type="email" name="<?=$email?>" type="text" class="form-control" placeholder="Email" />
                <span class="help-block with-errors">
                    Please fill with correct email address.
                </span>
            </div>
        </div>
        <!--<br>
        <button type="button" class="btn btn-danger" aria-label="Left Align">
            Get activation code!
        </button>
        <br>
        <br>
        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-star"></i>
            <div class="form-group">
                <input data-minlength="5" name="<?=$activation?>" type="text" class="form-control" placeholder="Activation Code" />
                
                <span class="help-block with-errors">
                    Please fill with correct activation code.
                </span>
                
            </div>
        </div>-->
        <br>
        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-user"></i>
            <div class="form-group">
                <input data-minlength="3" name="<?=$username?>" type="text" class="form-control" placeholder="User Name" />
                <span class="help-block with-errors">
                    At least 3 characters.
                </span>
            </div>
        </div>
        <br>
        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-lock"></i>
            <input name="<?=$password?>" type="password" class="form-control" placeholder="Password" />
        </div>
        <br>
        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-lock"></i>
            <input name="<?=$password_again?>" type="password" class="form-control" placeholder="Password Again" />
        </div>
        <br>
        <input type="submit" value="Create" class="btn btn-success" />
    </form>
</div>
<?php echo $footer ?>
