<?php echo $header?>
<div class="bg-img">
<div class="container main-panel ">
	
	<div class="logo-su-chapter">
			<center> <img src="forum/view/img/portfolio/SU_logo.png" alt="img01" /> </center>
	</div>
	
    <p>Our MISSION of this China Development Student Think Tank (Syracuse University Chapter) 
    is to provide constructive academic reports, intellectual ideas, 
    academic programs regarding to Chinese economic development, 
    political reform, cultural diversity, 
    and diplomatic strategy to students who interest in China and Sino-U.S. 
    relations. All missions will be provided 
    by the executive board of China Development 
    Student Think Tank (Syracuse University Chapter) and its higher authority, 
    China Development Student Think Tank (North America Committee) of 
    China Development Forum, 
    one of the most influential non-government think tank in Beijing, China. </p>
	
</div>
</div>
<?php echo $footer ?>
