<html>
<head>
<style>
body {
    text-align:center;
}
.header, .main, .footer {
    width: 960px;
    text-align: center;
    margin: 0 auto;
}
.footer {
    text-align: center;
}
.nav {
    text-align: left;
    background-color: green;
    line-height: 24px;
}
.clearFloat:after {
    visibility: hidden;
    clear: both;
    display: block;
    height: 0px;
    content: "."
}
.clearFloat {
    zoom: 1;
}
</style>
</head>
<body>
    <div class="header clearFloat">
       <div style="float:left"><img src="logo_test.png" style="width: 120px; height: 80px;" /></div>
        <div style="float:right;"><img src="logo_test.png" style="width: 120px; height: 80px;" /></div>
    </div>
    <div class="nav">Nav</div>
    <div class="main">
        content
    </div>
    <div class="footer">
        About us
    </div>
</body>
</html>